@{
    ViewData["Title"] = "Index";
}

<header>
    <div>
    <h1>BOOKING</h1>
    </div>
</header>

<a href='@Url.Action("SelectPaquete")'>Seleccionar Paquete ⏭</a>

<h1>PAQUETES</h1>

@foreach (string destino in ViewBag.Paquetes.Keys)
{
    <div>
    <h3>@destino</h3>
   <img src="imgs/hoteles/@ViewBag.Paquetes[destino].Hotel"> 
   <img src="imgs/aerolineas/@ViewBag.Paquetes[destino].Aereo">
   <img src="imgs/excursiones/@ViewBag.Paquetes[destino].Excursion"><br>
   <div class="eliminar">
   <a href='@Url.Action("EliminarPaquete", new {destino=destino})'>Eliminar Paquete</a>
   </div>
   </div>
}