@{
    ViewData["Title"] = "Index";
}
<a href='@Url.Action("SelectPaquete")'>Seleccionar Paquete</a>

<h1>PAQUETES</h1>

@foreach (string destino in ViewBag.Paquetes.Keys)
{
    <h3>@destino</h3>
    <div>
   <img src="imgs/hoteles/@ViewBag.Paquetes[destino].Hotel"> 
   <img src="imgs/aerolineas/@ViewBag.Paquetes[destino].Aereo">
   <img src="imgs/excursiones/@ViewBag.Paquetes[destino].Excursion">
   </div>
}